In [137]:
import pandas as pd
import os

In [138]:
# df=pd.read_csv("./Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_April_2019.csv")

files=[file for file in os.listdir("Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data")]

df=pd.DataFrame()

for file in files:
    d=pd.read_csv("/home/prabhat/Desktop/pandas_pokemon/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/"+file)
    df=pd.concat([df,d])

In [139]:
df.to_csv("TotalSalesAnalysis.csv",index=False)

In [140]:
def first2(s):
    return s[:2]

In [141]:
df["Month"]=0
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,278797,Wired Headphones,1,11.99,11/21/19 09:54,"46 Park St, New York City, NY 10001",0
1,278798,USB-C Charging Cable,2,11.95,11/17/19 10:03,"962 Hickory St, Austin, TX 73301",0
2,278799,Apple Airpods Headphones,1,150.0,11/19/19 14:56,"464 Cherry St, Los Angeles, CA 90001",0
3,278800,27in FHD Monitor,1,149.99,11/25/19 22:24,"649 10th St, Seattle, WA 98101",0
4,278801,Bose SoundSport Headphones,1,99.99,11/09/19 13:56,"522 Hill St, Boston, MA 02215",0

In [142]:
df["Month"]=df["Order Date"].str[0:2]

In [143]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,278797,Wired Headphones,1,11.99,11/21/19 09:54,"46 Park St, New York City, NY 10001",11
1,278798,USB-C Charging Cable,2,11.95,11/17/19 10:03,"962 Hickory St, Austin, TX 73301",11
2,278799,Apple Airpods Headphones,1,150.0,11/19/19 14:56,"464 Cherry St, Los Angeles, CA 90001",11
3,278800,27in FHD Monitor,1,149.99,11/25/19 22:24,"649 10th St, Seattle, WA 98101",11
4,278801,Bose SoundSport Headphones,1,99.99,11/09/19 13:56,"522 Hill St, Boston, MA 02215",11

In [144]:
df["Quantity Ordered"] = pd.to_numeric(df["Quantity Ordered"], errors='coerce')

df["Quantity Ordered"]=df["Quantity Ordered"].fillna(0)

In [145]:
df["Quantity Ordered"]=df["Quantity Ordered"].astype(int)

In [146]:
df["Price Each"] = pd.to_numeric(df["Price Each"], errors='coerce')
df["Price Each"]=df["Price Each"].fillna(0)
df["Price Each"]=df["Price Each"].astype(float)

In [147]:
df["Total"]=df["Price Each"]*df["Quantity Ordered"]
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total
0,278797,Wired Headphones,1,11.99,11/21/19 09:54,"46 Park St, New York City, NY 10001",11,11.99
1,278798,USB-C Charging Cable,2,11.95,11/17/19 10:03,"962 Hickory St, Austin, TX 73301",11,23.90
2,278799,Apple Airpods Headphones,1,150.00,11/19/19 14:56,"464 Cherry St, Los Angeles, CA 90001",11,150.00
3,278800,27in FHD Monitor,1,149.99,11/25/19 22:24,"649 10th St, Seattle, WA 98101",11,149.99
4,278801,Bose SoundSport Headphones,1,99.99,11/09/19 13:56,"522 Hill St, Boston, MA 02215",11,99.99

In [148]:
df["Month"] = pd.to_numeric(df["Month"], errors='coerce')
df["Month"]=df["Month"].fillna(0)
df["Month"]=df["Month"].astype(int)
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total
0,278797,Wired Headphones,1,11.99,11/21/19 09:54,"46 Park St, New York City, NY 10001",11,11.99
1,278798,USB-C Charging Cable,2,11.95,11/17/19 10:03,"962 Hickory St, Austin, TX 73301",11,23.90
2,278799,Apple Airpods Headphones,1,150.00,11/19/19 14:56,"464 Cherry St, Los Angeles, CA 90001",11,150.00
3,278800,27in FHD Monitor,1,149.99,11/25/19 22:24,"649 10th St, Seattle, WA 98101",11,149.99
4,278801,Bose SoundSport Headphones,1,99.99,11/09/19 13:56,"522 Hill St, Boston, MA 02215",11,99.99
...,...,...,...,...,...,...,...,...
9718,150497,20in Monitor,1,109.99,01/26/19 19:09,"95 8th St, Dallas, TX 75001",1,109.99
9719,150498,27in FHD Monitor,1,149.99,01/10/19 22:58,"403 7th St, San Francisco, CA 94016",1,149.99
9720,150499,ThinkPad Laptop,1,999.99,01/21/19 14:31,"214 Main St, Portland, OR 97035",1,999.99
9721,150500,AAA Batteries (4-pack),2,2.99,01/15/19 14:21,"810 2nd St, Los Angeles, CA 90001",1,5.98
9722,150501,Google Phone,1,600.00,01/13/19 16:43,"428 Cedar St, Boston, MA 02215",1,600.00

In [149]:
results=df.groupby("Month").sum()
results["Total"]

Month
0     0.000000e+00
1     1.822257e+06
2     2.202022e+06
3     2.807100e+06
4     3.390670e+06
5     3.152607e+06
6     2.577802e+06
7     2.647776e+06
8     2.244468e+06
9     2.097560e+06
10    3.736727e+06
11    3.199603e+06
12    4.613443e+06
Name: Total, dtype: float64

In [150]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total
0,278797,Wired Headphones,1,11.99,11/21/19 09:54,"46 Park St, New York City, NY 10001",11,11.99
1,278798,USB-C Charging Cable,2,11.95,11/17/19 10:03,"962 Hickory St, Austin, TX 73301",11,23.90
2,278799,Apple Airpods Headphones,1,150.00,11/19/19 14:56,"464 Cherry St, Los Angeles, CA 90001",11,150.00
3,278800,27in FHD Monitor,1,149.99,11/25/19 22:24,"649 10th St, Seattle, WA 98101",11,149.99
4,278801,Bose SoundSport Headphones,1,99.99,11/09/19 13:56,"522 Hill St, Boston, MA 02215",11,99.99

In [151]:
def get_city(address):
    return address.split(",")[1].strip(" ")

def get_state(address):
    return address.split(",")[2].split(" ")[1]

df['City'] = df['Purchase Address'].apply(lambda x: f"{get_city(x)}  ({get_state(x)})")
df.head()

AttributeError: 'float' object has no attribute 'split'

In [153]:
js=pd.read_json(r'/home/prabhat/Desktop/pandas_pokemon/ex1.json')

ValueError: Expected object or value

In [165]:
raw='''
{
    "group" : "column operations",
    "task" : "add",
    "position" : {
        "col" : "Canceled", 
        "deet" : "end"
    },
    "name" : "Math Test",
    "config" : {
        "condition" : "NA",
        "math": "(#Total Days#+2)*#PO Number#", 
        "condmath": "NA"
    }
}



'''

In [166]:
import json
r=json.loads(raw)

In [167]:
r

{'group': 'column operations',
 'task': 'add',
 'position': {'col': 'Canceled', 'deet': 'end'},
 'name': 'Math Test',
 'config': {'condition': 'NA',
  'math': '(#Total Days#+2)*#PO Number#',
  'condmath': 'NA'}}

In [170]:
r["position"]["col"]

'Canceled'