In [50]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import confusion_matrix
import pickle

In [51]:
with open('model.bin', 'rb') as f:
    model = pickle.load(f)

In [52]:
model

LinearSVC()

In [53]:
DFtest = pd.read_csv(r'..\data\test.csv',index_col = 'PassengerId')

In [54]:
DFtest.drop(columns=['Cabin'],inplace=True,errors='ignore')
DFtest.drop(columns=['Ticket'],inplace=True,errors='ignore')
DFtest.drop(columns=['Name'],inplace=True,errors='ignore')
lb = LabelEncoder()
DFtest.Embarked = lb.fit_transform(DFtest.Embarked)
DFtest.Sex = lb.fit_transform(DFtest.Sex)
#Age to do
DFtest.drop(columns=['Age'],inplace=True,errors='ignore')

In [60]:
DFtestX = DFtest.iloc[:,:]
#DFtestY = DFtest.iloc[:,0]

In [59]:
DFtest

             Pclass  Sex  SibSp  Parch      Fare  Embarked
PassengerId
892               3    1      0      0    7.8292         1
893               3    0      1      0    7.0000         2
894               2    1      0      0    9.6875         1
895               3    1      0      0    8.6625         2
896               3    0      1      1   12.2875         2
...             ...  ...    ...    ...       ...       ...
1305              3    1      0      0    8.0500         2
1306              1    0      0      0  108.9000         0
1307              3    1      0      0    7.2500         2
1308              3    1      0      0    8.0500         2
1309              3    1      1      1   22.3583         0

[418 rows x 6 columns]

In [58]:
DFtestX

             Sex  SibSp  Parch      Fare  Embarked
PassengerId
892            1      0      0    7.8292         1
893            0      1      0    7.0000         2
894            1      0      0    9.6875         1
895            1      0      0    8.6625         2
896            0      1      1   12.2875         2
...          ...    ...    ...       ...       ...
1305           1      0      0    8.0500         2
1306           0      0      0  108.9000         0
1307           1      0      0    7.2500         2
1308           1      0      0    8.0500         2
1309           1      1      1   22.3583         0

[418 rows x 5 columns]

In [61]:
DFtestX.Fare.fillna(np.nanmedian(DFtestX.Fare),inplace=True)

In [62]:
DFpredY = model.predict(DFtestX)

In [39]:
DFtestX.Fare.fillna(-50,inplace=True)

In [63]:
DFpredY

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [65]:
DFsubmit = pd.DataFrame({'PassengerId':DFtestX.index,'Survived':DFpredY})

In [72]:
DFsubmit.to_csv(r'..\data\Submit.csv',index=None)

In [71]:
r'\a\n'

'\\a\\n'