In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

## for feature slection

from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

# to visualise al the columns in the dataframe
pd.pandas.set_option('display.max_columns', None)

In [2]:
dataset=pd.read_csv('laptops_preprocessed.csv',encoding="cp1252")

In [3]:
dataset.head()

,Price_euros,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Memory,Gpu,OpSys,Ram(GB),Weight(kg)
0,1339.69,0.875,0.777778,0.6,0.385542,1.000,0.588235,0.416667,0.75,0.8,0.096774,0.169576
1,898.94,0.875,0.777778,0.6,0.385542,1.000,0.588235,0.500000,0.75,0.8,0.096774,0.162095
2,575.00,0.125,0.000000,0.2,0.662651,0.375,0.352941,0.583333,0.60,0.2,0.096774,0.291771
3,2537.45,0.875,0.777778,0.6,0.638554,1.000,0.588235,0.833333,0.75,0.8,0.225806,0.284289
4,1803.60,0.875,0.777778,0.6,0.385542,1.000,0.588235,0.583333,0.75,0.8,0.096774,0.169576

In [4]:
y=dataset[['Price_euros']]
y.head()

   Price_euros
0      1339.69
1       898.94
2       575.00
3      2537.45
4      1803.60

In [5]:
X=dataset.drop('Price_euros',axis=1)
X.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Memory,Gpu,OpSys,Ram(GB),Weight(kg)
0,0.875,0.777778,0.6,0.385542,1.000,0.588235,0.416667,0.75,0.8,0.096774,0.169576
1,0.875,0.777778,0.6,0.385542,1.000,0.588235,0.500000,0.75,0.8,0.096774,0.162095
2,0.125,0.000000,0.2,0.662651,0.375,0.352941,0.583333,0.60,0.2,0.096774,0.291771
3,0.875,0.777778,0.6,0.638554,1.000,0.588235,0.833333,0.75,0.8,0.225806,0.284289
4,0.875,0.777778,0.6,0.385542,1.000,0.588235,0.583333,0.75,0.8,0.096774,0.169576

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_valid,y_train,y_valid=train_test_split(X,y,train_size=0.7,test_size=0.3,random_state=0)

In [7]:
feature_sel_model = SelectFromModel(Lasso(alpha=0.005, random_state=0)) 
feature_sel_model.fit(X_train, y_train)

SelectFromModel(estimator=Lasso(alpha=0.005, random_state=0))

In [8]:
feature_sel_model.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [9]:
# let's print the number of total and selected features

# this is how we can make a list of the selected features
selected_feat = X_train.columns[(feature_sel_model.get_support())]

# let's print some stats
print('total features: {}'.format((X_train.shape[1])))
print('selected features: {}'.format(len(selected_feat)))
print('features with coefficients shrank to zero: {}'.format(
    np.sum(sel_.estimator_.coef_ == 0)))

total features: 11
selected features: 11

NameError: name 'sel_' is not defined

In [141]:
selected_feat

Index(['Company', 'Product', 'TypeName', 'Inches', 'ScreenResolution', 'Cpu',
       'Memory', 'Gpu', 'OpSys', 'Ram(GB)', 'Weight(kg)'],
      dtype='object')

In [142]:
X_train=X_train[selected_feat]

In [143]:
X_train.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Memory,Gpu,OpSys,Ram(GB),Weight(kg)
446,0.000,0.777778,0.2,0.662651,0.125,0.352941,0.166667,0.60,0.4,0.032258,0.426434
117,0.500,0.777778,0.2,0.662651,0.625,0.647059,0.750000,0.35,0.6,0.096774,0.366584
692,0.125,0.777778,1.0,0.867470,0.375,0.941176,0.166667,0.75,0.6,0.096774,0.610973
294,0.250,0.777778,0.2,0.662651,0.375,0.411765,0.583333,0.70,0.6,0.096774,0.339152
261,0.250,0.777778,0.2,0.662651,0.375,0.235294,0.583333,0.45,0.2,0.032258,0.376559

In [144]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

model=DecisionTreeRegressor(random_state=0).fit(X_train,y_train)
preds=model.predict(X_valid)
print("MAE:")
print(mean_absolute_error(y_valid,preds))
print("Score:",model.score(X_train,y_train))

MAE:
237.0775063938619
Score: 0.999108555613873

In [148]:
from sklearn.linear_model import LinearRegression
model=LinearRegression().fit(X_train,y_train)
preds=model.predict(X_valid)
print("MAE:")
print(mean_absolute_error(y_valid,preds))
print("Score:",model.score(X_train,y_train))

MAE:
289.9906018855184
Score: 0.733897808774155