In [37]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn import preprocessing
from pickle import dump
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.ensemble import AdaBoostClassifier
import seaborn as sns

In [38]:
dftest=pd.read_csv(r'/home/prabhat/Desktop/Machine Learning/Machine-Learning/Titanic/KaggleComp/data/test.csv',index_col="PassengerId")

In [39]:
dftest.drop(columns=["Name","Ticket","Cabin"],errors="ignore",inplace=True)

In [40]:
dftest.isnull().sum()

Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [41]:
dftest.Age.fillna(np.nanmean(dftest.Age),inplace=True)

In [42]:
dftest.Fare.fillna(np.nanmean(dftest.Fare),inplace=True)

In [43]:
import pickle
lb = pickle.load(open("/home/prabhat/Desktop/Machine Learning/Machine-Learning/Titanic/em.pkl", "rb"))
Se=pickle.load(open("/home/prabhat/Desktop/Machine Learning/Machine-Learning/Titanic/sex.pkl","rb"))
model=pickle.load(open("/home/prabhat/Desktop/Machine Learning/Machine-Learning/Titanic/modelforTitanic.pkl","rb"))
dftest["Embarked"]=lb.fit_transform(dftest.Embarked)
dftest.Sex=Se.fit_transform(dftest.Sex)

In [44]:
dftest

             Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
PassengerId
892               3    1  34.50000      0      0    7.8292         1
893               3    0  47.00000      1      0    7.0000         2
894               2    1  62.00000      0      0    9.6875         1
895               3    1  27.00000      0      0    8.6625         2
896               3    0  22.00000      1      1   12.2875         2
...             ...  ...       ...    ...    ...       ...       ...
1305              3    1  30.27259      0      0    8.0500         2
1306              1    0  39.00000      0      0  108.9000         0
1307              3    1  38.50000      0      0    7.2500         2
1308              3    1  30.27259      0      0    8.0500         2
1309              3    1  30.27259      1      1   22.3583         0

[418 rows x 7 columns]

In [45]:
ypred=model.predict(dftest)

In [46]:
dfSubmit=pd.DataFrame({'PassengerID':dftest.index,'Survived':ypred})

In [48]:
dfSubmit.to_csv("FinalSubmissionOfOwn.csv",header=True,index=False)