In [243]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn import preprocessing
from pickle import dump
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.ensemble import AdaBoostClassifier
import seaborn as sns
import pickle

In [219]:
dftrain=pd.read_csv(r'/home/prabhat/Desktop/Machine Learning/Machine-Learning/Titanic/train.csv',index_col="PassengerId")

In [220]:
dftrain.drop(columns=["Name","Ticket","Cabin"],errors="ignore",inplace=True)

In [221]:
dftrain.isnull().sum();

In [222]:
dftrain.Age.fillna(np.nanmean(dftrain.Age),inplace=True)

In [223]:
dftrain[dftrain.Embarked.isnull()];

In [224]:
lb=preprocessing.LabelEncoder()

In [225]:
dftrain["Embarked"]=lb.fit_transform(dftrain.Embarked)

In [226]:
lb.classes_;

In [244]:
pickle.dump(lb,open('em.pkl','wb'))

In [228]:
lbs=preprocessing.LabelEncoder()

In [229]:
dftrain.Sex=lbs.fit_transform(dftrain.Sex)

In [230]:
lbs.classes_

array(['female', 'male'], dtype=object)

In [231]:
dump(lbs,open('sex.pkl','wb'))

In [232]:
dfx=dftrain.iloc[:,1:];
dfy=dftrain.iloc[:,0];

In [233]:
xtr,xte,ytr,yte=train_test_split(dfx,dfy,test_size=0.2)

In [234]:
model=LogisticRegression()

In [235]:
model.fit(xtr,ytr)

LogisticRegression()

In [245]:
ypred=model.predict(xte)
pickle.dump(model,open("modelforTitanic.pkl","wb"))

In [237]:
cf=confusion_matrix

In [238]:
cf(yte,ypred)

array([[90, 19],
       [19, 51]])

In [239]:
accuracy_score(yte,ypred)

0.7877094972067039

In [241]:
dftest=pd.read_csv(r'/home/prabhat/Desktop/Machine Learning/Machine-Learning/Titanic/KaggleComp/data/test.csv')

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C